/*
 * -------------------------------------------------
 *  CombiPIPE Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Options: Mandatory
  fastq = ""
  sampinfo = "" 
  barcodes = ""
  pattern = ""
  dimension = ""
  linker = ""

  // Options: Other
  help = false

  // OPtions: Link to Codes
  process1 = "bin/process1_sortSamples.py"
  process2 = "bin/process2_newBCanalyzer.py"
  process3 = "bin/process3_calcFCPV.py"
  process4 = "bin/process4_calcGI.py"
  process5 = "bin/process5_DunnettTest.R"
  process6 = "bin/process6_mergeDunnetts.py"
}
